<div class="panel panel-default">
    <div class="panel-heading">{{'ADMIN_MENU_MESS' | translate}}</div>
    <div class="panel-body">
        <a ui-sref="manageHolidays" class="list-group-item">{{ 'MANAGE_NON_WORKING_DAYS_PANEL' | translate }}<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></a>
        <a ui-sref="manageEmployees" class="list-group-item">{{ 'MANAGE_EMPLOYEES_PANEL' | translate }} <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></a>
        <a ui-sref="manageVacationRequests" class="list-group-item">{{ 'MANAGE_VAC_REQUESTS_PANEL' | translate }} <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></a>
    </div>
</div>