<div class="panel panel-default">
    <div class="panel-heading">{{ appLangResource.userMenuMessage }}</div>
    <div class="panel-body">
        <a ui-sref="system" class="list-group-item">{{ appLangResource.homeBtn }}<span class="glyphicon glyphicon-home pull-right" aria-hidden="true"></span></a>
        <a ui-sref="requestVacation" class="list-group-item">{{ appLangResource.requestVacationBtn }}<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></a>
        <a ui-sref="userRequests" class="list-group-item">{{ appLangResource.myRequestsBtn}}<span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span></a>
        <a ui-sref="requestsToApprove" class="list-group-item">{{appLangResource.requestsToApproveBtn}}<span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span></a>
    </div>
</div>
