<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'FAQ' | translate }}
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <p><strong> {{ 'FAQ_WOR_NWOR_INFO_Q' | translate }}</strong> </p>
            <p>{{ 'FAQ_WOR_NWOR_INFO_A' | translate }}</p>

            <p><strong>{{ 'FAQ_NWOR_DAYS_Q' | translate }}</strong> </p>
            <p>{{ 'FAQ_NWOR_DAYS_A' | translate }}</p>

            <p><strong>{{ 'FAQ_ADDING_AFFECTING_Q' | translate }}</strong> </p>
            <p>{{ 'FAQ_ADDING_AFFECTING_A' | translate }}</p>

            <p><strong>{{ 'FAQ_TRANF_COMPN_ADD_DAYS_Q' | translate }}</strong> </p>
            <p>{{ 'FAQ_TRANF_COMPN_ADD_DAYS_A' | translate }}</p>

            <p><strong>{{ 'FAQ_REQUEST_VACATION_Q' | translate }}</strong> </p>
            <p>{{ 'FAQ_REQUEST_VACATION_A' | translate }}</p>

            <p><strong>{{ 'FAQ_SUBMIT_Q' | translate }}</strong> </p>
            <p>{{ 'FAQ_SUBMIT_A' | translate }}</p>

            <p><strong>{{ 'FAQ_CHECK_ST_Q' | translate }}</strong> </p>
            <p>{{ 'FAQ_CHECK_ST_A' | translate }}</p>

            <p><strong>{{ 'FAQ_TYPE_ALRE_CHANGED_Q' | translate }}</strong> </p>
            <p>{{ 'FAQ_TYPE_ALRE_CHANGED_A' | translate }}</p>
        </div>
    </div>
</div>