<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'FAQ' | translate }}
    </div>
    <div class="panel-body">
        <div class="panel-body">
            
<p><strong>Where can I find information about working and non-working days?</strong> </p>
<p>You can find information on the ‘Home’ page. On the right there are several panels. One is for vacation status which shows how many days are used and how many you have. The other panel is non-working days which shows official holidays for the year. </p>

<p><strong>What are company non-working days?</strong> </p>
<p>These are days when the office will be closed and all employees are obliged to use paid or unpaid vacation. A yearly example are the working days between Christmas and New Year's Day. All employees will be notified by e-mail when a new company non-working day is added. Another periodic notifications will be sent to remind employees who haven't yet requested a vacation for company non-working day.</p>

<p><strong>Can adding working or non-working days affect my vacation requests?</strong> </p>
<p>If a new working or non-working day that was added happens to be part of your vacation request, the request will be automatically removed and you will have to make another request. This will prevent you from having your vacation balance calculation done wrong.</p>

<p><strong>What does Transferred, Compensation and Additional days stand for?</strong> </p>
<p>Transferred paid leave is the regular paid vacation days that left unused by the employee during the previous year. Compensation days are added to cover overtime work. Additional days are described in the Labor Code and include the following vacation types:

Marriage
Blood donation
Death of a relative
Student vacation
Where can I see who is responsible for my vacation request approval process?
Your assigned approval managers are listed on the "Home" and "Request Vacation" pages.</p>

<p><strong>Can I request a vacation when some of my approval managers are on vacation or unable to approve the request for some other reason?</strong> </p>
<p>Your request can be approved by any of the system administrators, so you should not worry about the presence of your approval managers.</p>

<p><strong>How can I submit a vacation request?</strong> </p>
<p>You can submit vacation requests by using the functionality on the "Request Vacation" page. There you can select the period and type of the vacation and also leave a note. When a vacation request is submitted your approval manager.</p>

<p><strong>The "Paid Vacation" option cannot be selected in the type dropdown on the "Request Vacation" page. Why?</strong> </p>
<p>The reason for this might be either that you have already spent all your paid vacation days (check Summary table) or that you still don't have the required work experience, in order to get a paid vacation. For more information contact any of the administrators of the system.</p>

<p><strong>How can I make a request for Additional leave?</strong> </p>
<p>You should request the type of additional leave you need via the "Request Vacation" page. Then an e-mail notification will be sent to the system administrators and they will take care of your request by adding the days you need. They will also contact you to tell you what documents are needed depending on the type of vacation you have requested.</p>

<p><strong>How can I make a request for a Sick leave?</strong> </p>
<p>You should initiate the process by making a phone call and also providing the documents required by the Labor Code to one of the system administrators. It is their responsibility to create your Sick leave.</p>

<p><strong>Where can I check the status of my vacation request?</strong> </p>
<p>The page "My Requests" provides a table view of all your requests. Use the filters to change the state of displayed requests or switch between years.
Will I be notified when my vacation request has its state changed?
You will receive e-mail notification when a request of yours is approved, delayed or rejected by approval managers. Another type of notification will be received, if for some reason a request of yours is deleted by an administrator.</p>

<p><strong>Why was the type of my already approved vacation changed?</strong> </p>
<p>If you had used all your paid leave and then requested unpaid leave for a period between other requests, the system will automatically reassemble your requests in order to use all the paid leave before the unpaid leave. This may also split longer requests into two consecutive requests. This is done due to law restrictions. An e-mail notification will be sent to the system administrators.</p>

        </div>
    </div>
</div>