<div class="row" ng-cloak>
    <div class="col-sm-3">

    </div>
    <div class="well col-sm-6">
        <p>Please, enter you credentials.</p>
        <div class="form-group">
            <label for="userNameInput">Name:</label>
            <input id="userNameInput" type="text" ng-model="credentials.userName" class="form-control" placeholder="Enter user name here...">
        </div>
        <div class="form-group">
            <label for="userPasswordId">Password:</label>
            <input id="userPasswordId" type="password" ng-model="credentials.userPassword" class="form-control" placeholder="Enter password here...">
        </div>

        <div class="form-group">
            <button id="authButton" type="submit" class="btn btn-default" ng-click="authenticate(credentials)"> Log in </button>
        </div>

    </div>
    <div class="col-sm-3">

    </div>
</div>
