<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Manage non-working days</div>
            <div class="panel-body">
                <div class="row">
                    <button class="btn btn-default btn-success pull-right" ng-click="addClickHandler()">Add New Holiday
                    </button>
                </div>
                <div class="row">
                    <div ui-grid="gridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</div>