<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Request Vacation</div>
            <div class="panel-body">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="ttStartDate">Start Date</label>
                            <p class="input-group">
                                <input type="text"
                                       id="ttStartDate"
                                       class="form-control"
                                       uib-datepicker-popup
                                       min-date="startVacationDateModel.minDate"
                                       is-open="startVacationDateModel.popupOpenStatus"
                                       datepicker-options="startVacationDateModel.dateOptions"
                                       ng-model="startVacationDateModel.date"
                                       ng-required="true"
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            ng-click="startVacationDateModel.togglePopUp($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="ttEndDate">End Date</label>
                            <p class="input-group">
                                <input type="text"
                                       id="ttEndDate"
                                       class="form-control"
                                       min-date="endVacationDateModel.minDate"
                                       uib-datepicker-popup
                                       is-open="endVacationDateModel.popupOpenStatus"
                                       datepicker-options="endVacationDateModel.dateOptions"
                                       ng-model="endVacationDateModel.date"
                                       ng-required="true"
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            ng-click="endVacationDateModel.togglePopUp($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="ttVacationType">Vacation Type</label>
                            <select class="form-control"
                                    id="ttVacationType"
                                    required="required"
                                    ng-options="item as item.label for item in vacationTypeSelectOptions track by item.vacationType"
                                    ng-model="vacationTypeSelection"></select>
                        </div>
                        <div class="form-group">
                            <label for="ttDescription">Description</label>
                            <textarea id="ttDescription"
                                      class="form-control"
                                      placeholder="Note"
                                      ng-model="description"
                                      rows="5"></textarea>
                        </div>
                        <button class="btn btn-default"
                                ng-disabled="!isVacationRequestValid()"
                                ng-click="requestVacation()">
                            Request Vacation
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div ui-calendar ng-model="calendarData"></div>
    </div>
</div>