<div class="panel panel-default">
    <div class="panel-heading">
        Requests
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <ul ng-repeat="userRequest in requestsToApprove">
                <li class="list-group-item" ng-class="getCssClass(userRequest)">
                    <div class="row">
                        <div class="col-md-4">{{ 'REQUEST_FROM_MESS' | translate }}: {{ userRequest.employeeUserName }}</div>
                        <div class="col-md-4">{{ 'REQUEST_START_DATE_MESS' | translate }}: {{ userRequest.startDate | date:'yyyy-MM-dd' }}</div>
                        <div class="col-md-4">{{ 'REQUEST_END_DATE_MESS' | translate }}: {{ userRequest.endDate | date:'yyyy-MM-dd' }}</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">{{ 'REQUEST_VAC_TYPE_MESS' | translate }}: {{ getVacationTypeName(userRequest.vacationType) }}</div>
                        <div class="col-md-4">{{ 'REQUEST_DESCRIPTION_MESS' | translate }}: {{ userRequest.description }}</div>
                        <div class="col-md-4">{{ 'REQUEST_STATUS_MESS' | translate }}: {{ getStatusName(userRequest.status) }}</div>
                    </div>
                    <hr />
                    <div class="row">
                        <button type="button" class="btn btn-success" ng-click="approveRequest(userRequest.id)">{{ 'REQUEST_APPROVE_BTN' | translate }}</button>
                        <button type="button" class="btn btn-danger"ng-click="rejectRequest(userRequest.id)">{{ 'REQUEST_REJECT_BTN' | translate  }}</button>
                    </div>
                </li>
            </ul>
            <div ng-if="requestsToApprove.length === 0">
                {{ 'NO_REQUESTS_MESS' | translate }}
            </div>
        </div>
    </div>
</div>
