<div class="panel panel-default">
    <div class="panel-heading">Request Vacation</div>
    <div class="panel-body">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="ttStartDate">Start Date</label>
                    <p class="input-group">
                        <input type="text" 
                               id="ttStartDate"
                               class="form-control"
                               uib-datepicker-popup
                               min-date="startVacationDateModel.minDate"
                               is-open="startVacationDateModel.popupOpenStatus"
                               datepicker-options="startVacationDateModel.dateOptions"
                               ng-model="startVacationDateModel.date"
                               ng-required="true"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" 
                                    class="btn btn-default" 
                                    ng-click="startVacationDateModel.togglePopUp($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="ttEndDate">End Date</label>
                    <p class="input-group">
                        <input type="text" 
                               id="ttEndDate"
                               class="form-control"
                               min-date="endVacationDateModel.minDate"
                               uib-datepicker-popup
                               is-open="endVacationDateModel.popupOpenStatus"
                               datepicker-options="endVacationDateModel.dateOptions"
                               ng-model="endVacationDateModel.date"
                               ng-required="true"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" 
                                    class="btn btn-default" 
                                    ng-click="endVacationDateModel.togglePopUp($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="ttNote">Note</label>
                    <textarea id="ttNote" 
                              class="form-control" 
                              placeholder="Note" 
                              rows="5">
                    </textarea>
                </div>
            </form>
        </div>
    </div>
</div>
