<div class="panel panel-default">
    <div class="panel-heading">
        Requests
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <ul ng-repeat="userRequest in userRequests">
                <li class="list-group-item" ng-class="getCssClass(userRequest)">
                    <div class="row">
                        <div class="col-md-4">{{ 'REQUEST_START_DATE_MESS' | translate }}: {{ userRequest.startDate | date:'yyyy-MM-dd'}}</div>
                        <div class="col-md-4">{{ 'REQUEST_END_DATE_MESS' | translate }}: {{ userRequest.endDate | date:'yyyy-MM-dd'}}</div>
                        <div class="col-md-4">{{ 'REQUEST_VAC_TYPE_MESS' | translate }}: {{ getVacationTypeName(userRequest.vacationType) }}</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">{{ 'REQUEST_DESCRIPTION_MESS' | translate }}: {{ userRequest.description }}</div>
                        <div class="col-md-4">{{ 'REQUEST_STATUS_MESS' | translate }}: {{ getStatusName(userRequest.status) }}</div>
                        <div class="col-md-4">
                            <!-- TODO create a enums for that ugly check - 2 -->
                            <button ng-show="userRequest.status === 2" > Print </button>
                        </div>
                    </div>

                </li>
            </ul>
            <div ng-if="userRequests.length === 0">
                {{ 'NO_REQUESTS_MESS' | translate }}
            </div>
        </div>
    </div>
</div>
