<div class="panel panel-default">
    <div class="panel-heading">
        Requests
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <ul ng-repeat="userRequest in userRequests">
                <li class="list-group-item" ng-class="getCssClass(userRequest)">
                    <div class="row">
                        <div class="col-md-4">Start Date: {{ userRequest.startDate | date:'yyyy-MM-dd'}}</div>
                        <div class="col-md-4">End Date: {{ userRequest.endDate | date:'yyyy-MM-dd'}}</div>
                        <div class="col-md-4">Vacation Type: {{ getVacationTypeName(userRequest.vacationType) }}</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">Description: {{ userRequest.description }}</div>
                        <div class="col-md-6">Status: {{ getStatusName(userRequest.status) }}</div>
                    </div>
                </li>
            </ul>
            <div ng-if="userRequests.length === 0">
                There are no requests.
            </div>
        </div>
    </div>
</div>
