<div print-section>
    <div print-only>
        <strong>{{ 'PRINT_FROM_MESS' | translate }}:</strong> {{currentUserRequestToPrint.employeeUserName}}
        <br/>
        <strong>{{ 'PRINT_TO_MESS' | translate }}:</strong> CEO
        <br/> <br /> <br/>
        <strong> {{ 'PRINT_HEAD_MESS' | translate }} </strong>
        <br/> <br /> <br/>
        {{ 'WELCOME_MESS' | translate }},
        <br/> {{ 'PRINT_REQUEST_MESS' | translate }}:
        <br/>
        <strong>{{ 'REQUEST_START_DATE_MESS' | translate }}:</strong> {{currentUserRequestToPrint.startDate}}
        <br/>
        <strong>{{ 'REQUEST_END_DATE_MESS' | translate }}:</strong> {{currentUserRequestToPrint.endDate}}
        <br/>
        <strong>{{ 'REQUEST_DESCRIPTION_MESS' | translate }}: </strong> {{currentUserRequestToPrint.description}}
        <br/> <br /> <br/> Regards,
        <br/> {{currentUserRequestToPrint.employeeUserName}}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Requests
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <ul ng-repeat="userRequest in userRequests">
                <li class="list-group-item" ng-class="getCssClass(userRequest)">
                    <div class="row">
                        <div class="col-md-4">{{ 'REQUEST_START_DATE_MESS' | translate }}: {{ userRequest.startDate | date:'yyyy-MM-dd'}}</div>
                        <div class="col-md-4">{{ 'REQUEST_END_DATE_MESS' | translate }}: {{ userRequest.endDate | date:'yyyy-MM-dd'}}</div>
                        <div class="col-md-4">{{ 'REQUEST_VAC_TYPE_MESS' | translate }}: {{ getVacationTypeName(userRequest.vacationType) }}</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">{{ 'REQUEST_DESCRIPTION_MESS' | translate }}: {{ userRequest.description }}</div>
                        <div class="col-md-4">{{ 'REQUEST_STATUS_MESS' | translate }}: {{ getStatusName(userRequest.status) }}</div>
                        <div class="col-md-4">
                            <!-- TODO create a enums for that ugly check - 2 -->
                            <button class="btn btn-default" ng-show="userRequest.status === 2" ng-click="updateCurrentSelectedRequestToPrint(userRequest)"> Print </button>
                        </div>
                    </div>

                </li>
            </ul>

            <div ng-if="userRequests.length === 0">
                {{ 'NO_REQUESTS_MESS' | translate }}
            </div>
        </div>
    </div>
</div>